@import './variables';

%base {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    @extend %base;
    color: $text;
    
    &::before,
    &::after {
        @extend %base;
    }
}

ul, ol {
    list-style-type: none;
}
